@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow: unset !important;
}
body {
  font-family: var(--font-montserrat);
  overflow: visible;
}

h1 {
  @apply text-[2.5rem] md:text-[5rem] font-playfair font-bold;
}
h2 {
  @apply text-[2.25rem] md:text-[4rem] font-playfair font-bold;
}
h3 {
  @apply text-[1.5rem] font-montserrat font-bold;
}
h4 {
  @apply text-[1rem] font-montserrat font-bold;
}
input {
  outline: none;
}
p {
  @apply text-sm;
}

@keyframes rotateFairy {
  0% { 
    transform: rotateY(0deg) scale(0.5);
    opacity: 0;
  }
  30% { 
    transform: rotateY(180deg) scale(1.05);
    opacity: 1;
  }
  100% { 
    transform: rotateY(360deg) scale(1);
  }
}

.fairy {
  animation: rotateFairy 5s infinite ease-in-out;
  transform-origin: center;
}
.swiper-button-next,.swiper-button-prev{
  @apply !w-10 !h-10 rounded-2xl bg-white shadow-md;
}
.swiper-button-next::after,.swiper-button-prev::after{
  @apply !text-base text-gray-300;
}
.paddingContainer{
  @apply px-4 md:px-20
}